/* Start: Fonts */
	@font-face {
		font-family: "Open Sans Regular";
		src: url("../css/fonts/openSans/OpenSans-Regular.ttf");
	}
	
	@font-face {
		font-family: "Open Sans Light";
		src: url("../css/fonts/openSans/OpenSans-Light.ttf");
	}
/* End: Fonts */



/* Start: General */
	* {
		margin: 0;
		padding: 0;
	}

	html {
		font: 16px "Open Sans Regular";
	}
	
	body {
		padding: 5px 10px;
	}

	div {
		float: left;
	}
	
	input:focus {
		outline-color: #0084B4;
	}
	input[type="text"] {
		width: 250px;
		padding: 4px 5px;
	}
	input[type="radio"], input[type="checkbox"] {
		margin-right: 5px;
	}
	
	h1 {
		font-size: 20px;
		font-family: "Open Sans Light";
		color: #0084B4;
		font-weight: normal;
		display: inline-block;
	}
	
	::selection {
		color: white;
		background-color: #0084B4;
	}
	
	a:link, a:visited, a:hover, a:active{
		text-decoration: none;
		color: #0084B4;
	}
/* End: General */



/* Start: Elements */
	#wrapper {
		width: 350px;
		padding: 10px 10px 15px 10px;
	}
	#wrapper > div {
		margin-top: 30px;
	}
	#wrapper > div:first-child {
		margin-top: 0px;
	}
	
	#options_shortcutType_Wrapper div {
		width: 100%;
	}
/* End: Elements */



/* Start: Classes */
	.button {
		font-size: 16px;
		width: 35px;
		padding: 4px 24px 5px 24px;
		background-color: #0084B4;
		color: white !important;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		-webkit-user-select: none;
		text-decoration: none;
	}
	.button:hover {
		background-color: #0094C9;
	}
	.button:active {
		background-color: #0084B4;
	}
	
	.label {
		width: 100%;
	    margin-bottom: 15px;
	}
	.label > h1 {
		cursor: pointer;
	}
	
	.center {
		float: none;
		margin: auto;
	}
	
	.mainSection {
		width: 100%;
		margin-top: 30px;
	}
	
	.subSection {
		margin-left: 15px;
		display: none;
	}
	
	.subSubSection {
		margin-top: 15px;
		width: 100%;
	}
/* End: Classes */